<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cars</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/cars">List of current cars on sale</a> &nbsp; &nbsp; &nbsp; &nbsp;
          <a href="/cars/new">Create new stock item</a> &nbsp; &nbsp; &nbsp; &nbsp;
          <a href="/manufacturer">Manufacturer list</a> &nbsp; &nbsp; &nbsp; &nbsp; 
          <a href="/manufacturer/new">Add new manufacturer</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
