<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cars</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/cars/new">Create new item</a>
        </li>
        <li>
          <a href="/manufacturer">Manufacturer list</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
