<form method="post" action="/manufacturer">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  />

  <label for="year_formed-field">Year formed:</label>
  <input
  type="number"
  name="year_formed"
  id="year_formed"
  />

  <input type="submit" value="Order Car">
</form>
