<h2>Car Inventory</h2>

<div id="car-wrapper">
  <% @cars.each do |car| %>

  <div class="car">
    <h3><a href="/cars/<%= car.id %>"><%= car.name %></a></h3>
    <p>Year made: <%= car.year_made %></p>
    <p>Buying cost: <%= car.buying_cost %></p>
  </div>

  <% end %>
</div>
