<form method="post" action="/cars">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  />


  <label for="car-selection">Select a car:</label>
  <select name="manufacturer" id="manufacturer-selection">
    <option value="Mclaren">Mclaren</option>
    <option value="ferrari">ferrari</option>
    <option value="Mercedes">Mercedes</option>
  </select>

  <label for="stock-field">Stock:</label>
  <input
  type="number"
  name="stock"
  id="stock-field"
  />

  <input type="submit" value="Order Car">
</form>
