<form method="post" action="/cars">
  <label for="name_field">Name:</label>
  <input
  type="text"
  name="name"
  id="name_field"
  />

  <label for="year-made-field">Year made:</label>
  <input
  type="number"
  name="Year made"
  id="year_made_field"
  />

  <label for="buying_cost_field">Buying cost:</label>
  <input
  type="number"
  name="Buying cost"
  id="buying_cost_field"
  />

  <label for="selling-price-field">Selling price:</label>
  <input
  type="number"
  name="Selling_price"
  id="selling_price_field"
  />

  <label for="stock_field">Stock:</label>
  <input
  type="number"
  name="stock"
  id="stock_field"
  />

  <label>
    Select a Manufacturer:
    <select name="manufacturer_id">
      <% for manufacturer in @manufacturers %>
      <option value="<%= manufacturer.id %>"><%= manufacturer.name %></option>
      <% end %>
    </select>
  </label>

  <input type="submit" value="Order Car">
</form>
